body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: hsl(224, 23%, 55%);
    
}

main {
    display: flex;
    justify-content: center;
    margin: 100px;
}

h2, h3 , .plan-type{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    line-height: 1.5;
}

p {
    line-height: 1.8;
    padding: 3px;
}

a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}
.content-container {
    margin: 0 50px 10px;
}

.img-container {
    background-image: url('images/illustration-hero.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

.plan-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}

.plan-container a:hover {
    text-decoration: none;
    color:hsl(245, 50%, 52%);
}

.plan p{
    margin: 0;
}


.btn-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.btn-container a {
    text-decoration: none;
}

.btn {
    padding: 15px ;
    border-radius: 10px;
    border: none;
    white-space: nowrap;
}

.spacer {
    color: hsl(225, 100%, 98%);
}

.payment {
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
}

.payment:hover {
   background-color: hsl(245, 50%, 52%)
}

.cancel {
    color: hsl(224, 23%, 55%);
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}

.order-summary-card {
    overflow: hidden;
    width: 375px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px darkgrey;
}

@media (min-width: 1000px) {

    .order-summary-card {
        width: 400px;
    }
}